.item {
  color: #FFFFFF;
  margin-left: 0px;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.item a:hover {

  opacity: 0.3;
  transition: 0.1s;
}

.btn1 {
  padding-left: 10px;
  margin-top: -15px;
}

.lh {
  padding: 20px;
  margin-left: -20px;
}

.section {
  position: relative;
  height: 150px;
}

.section .section-center {
  position: absolute;
  top: 70%;
  left: 10%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#booking {
  font-family: 'Poppins', sans-serif;
  background-image: url();
  background-size: cover;
  background-position: center;
}

#booking::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

.booking-form {
  background: #fff;
  border-radius: 5px;
  height: 80px
}

.booking-form>form .row.no-margin {
  margin-right: 0px;
  margin-left: 0px;
}

.booking-form>form .row.no-margin>[class*="col-"] {
  padding-right: 0px;
  padding-left: 0px;
}

.booking-form .form-group {
  position: relative;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 0px;
}

.booking-form .form-group:after {
  content: '';
  background: rgba(225, 190, 190, 0.5);
  position: absolute;
  top: 12px;
  bottom: 0;
  right: 0px;
  width: 2px;
  height: 60px;
}

.booking-form .form-control {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  height: 45px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 20px;
  color: #222;
  font-weight: 400;
  padding: 0;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: #818390;
}

.booking-form .form-control:-ms-input-placeholder {
  color: #818390;
}

.booking-form .form-control::placeholder {
  color: #818390;
}

.booking-form input[type="date"].form-control:invalid {
  color: #818390;
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control+.select-arrow {
  position: absolute;
  right: 0px;
  bottom: 20px;
  width: 32px;
  line-height: 25px;
  height: 25;
  text-align: center;
  pointer-events: none;
  color: #818390;
  font-size: 18px;
}

.booking-form select.form-control+.select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  color: #042f66;
  display: block;
  font-weight: 400;
  height: 35px;
  line-height: 45px;
  font-size: 14px;
}

.booking-form .form-btn {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.booking-form .submit-btn {
  background-color: #042f66;
  border: none;
  text-transform: capitalize;
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border-radius: 5px
}

.ctn {
  margin-top: 15px;
}

.ctnn {
  background-color: #042f66;
  height: 45px;
}

.ctnn .col-md-4 {
  margin-top: 10px;
}

.ctnn .col-md-2 {
  margin-top: 10px;
}

.ctnn a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.ctnn a:hover {
  opacity: 0.5;
  transition: 0.7;
}

ul {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
}

.content-slider li {
  background-color: #ed3020;
  text-align: center;
  color: #FFF;
}

.content-slider h3 {
  margin: 0;
  padding: 70px 0;
}

.demo {
  width: 900px;
  margin-top: 20px;
}

.ctnnn {}

.ctnnn .rating3 {
  padding: 5px;

  background: rgba(0, 0, 0, 0);
  left: 72px;
  top: -45px;
  position: relative;
}

.ctnnn .rating3 .fa {
  color: #042f66;
}

.ctnnn .fa2 {
  background: rgba(0, 0, 0, 0);
  margin-top: -45px;
}

.form-btn1 {
  padding: 3px;
  background-color: #042f66;
  width: 150px;
  height: 50px;
  float: right;
  margin-top: -81px;
  margin-right: 15px;
  color: #fff;
  border-radius: 3px;
}

.form-btn1:hover {
  opacity: 0.6;
}

.table {}

.table table,
tr,
th,
td {
  border: 1px solid #BDBDBD;
  border-collapse: collapse;
  color: #fff;


}


.footer {
  margin-top: 60px;
  padding: 40px 15px;
  background-image: linear-gradient(#A9A9F5, #5882FA);
}

.form-container {
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 0px 10px 0px;
}

.modal-content h3 {
  color: black;
}

.form-check-label {
  color: black;
}

.bg1 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -35px;
  left: 43%;
}

.close {
  position: absolute;
  top: 0px;
  right: 5px;
}

.lh {
  color: #fff;
  position: absolute;
  right: 30px;
  top: -30px;
}

.hearder2 h1 {
  margin-left: 220px;
}

.header2 p {
  margin-left: 220px;
}